Repository SpongePowered/Configurate, pull requests merged in 2023-11, with the labels that each got.

#421 Fix list value cannot be de-serialized
  core/src/main/java/org/spongepowered/configurate/AbstractConfigurationNode.java
  core/src/main/java/org/spongepowered/configurate/ListConfigValue.java
  core/src/test/java/org/spongepowered/configurate/AbstractConfigurationNodeTest.java
Labels: bug, component/core

#448 hocon: Add option for indent level
  format/hocon/src/main/java/org/spongepowered/configurate/hocon/HoconConfigurationLoader.java
  format/hocon/src/test/java/org/spongepowered/configurate/hocon/HoconConfigurationLoaderTest.java
  format/hocon/src/test/resources/2indent.conf
  vendor/typesafe-config-patches/0004-Add-option-for-rendered-indent-when-pretty-printing.patch
Labels: feature request, component/hocon

#449 hocon: fix round-tripping of extraneous comment indent
  .editorconfig
  format/hocon/src/main/java/org/spongepowered/configurate/hocon/HoconConfigurationLoader.java
  format/hocon/src/test/java/org/spongepowered/configurate/hocon/HoconConfigurationLoaderTest.java
  format/hocon/src/test/resources/comment-formatting.conf
  vendor/.editorconfig
  vendor/typesafe-config-patches/0005-Improve-comment-round-tripping.patch
Labels: bug, component/hocon

#451 fix(hocon): out of bounds exception with empty comment line
  format/hocon/src/main/java/org/spongepowered/configurate/hocon/HoconConfigurationLoader.java
  format/hocon/src/test/java/org/spongepowered/configurate/hocon/HoconConfigurationLoaderTest.java
Labels: bug, component/hocon

#450 build: run vendor tests
  .github/workflows/test-build.yml
  build.gradle
  vendor/typesafe-config-patches/0006-Fix-some-line-ending-issues-in-tests.patch
  vendor/typesafe-config-patches/0007-Convert-windows-line-endings-in-triple-quoted-string.patch
  vendor/typesafe-config-patches/0008-Convert-windows-line-endings-in-comments.patch
Labels: tooling
